In [85]:
# Dependencies
import json
import pandas as pd
import numpy as np
import re

# Extract

In [46]:
# Read Wikipedia Data
wiki_file_directory = '../Data/Wikipedia/'
with open(f'{wiki_file_directory}wikipedia-movies.json',mode='r') as json_file:
    wiki_movies_raw = json.load(json_file)
len(wiki_movies_raw)

7311

In [47]:
wiki_movies_raw[3501:3502]

[{'url': 'https://en.wikipedia.org/wiki/The_Missing_(2003_film)',
  'year': 2003,
  'imdb_link': 'https://www.imdb.com/title/tt0338188/',
  'title': 'The Missing',
  'Directed by': 'Ron Howard',
  'Produced by': ['Brian Grazer', 'Ron Howard', 'Daniel Ostroff'],
  'Written by': 'Ken Kaufman',
  'Based on': ['The Last Ride', 'by', 'Thomas Eidson'],
  'Starring': ['Tommy Lee Jones',
   'Cate Blanchett',
   'Evan Rachel Wood',
   'Jenna Boyd',
   'Aaron Eckhart',
   'Val Kilmer'],
  'Music by': 'James Horner',
  'Cinematography': 'Salvatore Totino',
  'Edited by': ['Daniel P. Hanley', 'Mike Hill'],
  'Productioncompany ': ['Revolution Studios', 'Imagine Entertainment'],
  'Distributed by': 'Columbia Pictures',
  'Release date': ['November 26, 2003', '(', '2003-11-26', ')'],
  'Running time': '137 minutes',
  'Country': 'United States',
  'Language': ['English', 'Spanish', 'Apache'],
  'Budget': '$60 million',
  'Box office': '$38.4 million'}]

In [48]:
# Read Kaggle Data
kaggle_file_directory = '../Data/Kaggle/'
movies_meta_df = pd.read_csv(f'{kaggle_file_directory}movies_metadata.csv', low_memory=False)
ratings_df = pd.read_csv(f'{kaggle_file_directory}ratings.csv')

In [49]:
len(movies_meta_df), len(ratings_df)

(45466, 26024289)

In [50]:
movies_meta_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [51]:
movies_meta_df.sample(n=10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
34870,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,295602,tt3833744,en,Matka Minuksi,"Becoming Me is a film about three young women,...",...,2014-09-24,0.0,77.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Becoming Me,False,0.0,0.0
8208,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,13644,tt0101301,en,All I Want For Christmas,Two New York City children who launch a hilari...,...,1991-11-08,14812000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,How far would you go to make a wish come true?,All I Want For Christmas,False,5.6,24.0
17095,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,38944,tt0807952,en,Kalteva Torni,"MitÃ¤ tapahtuu, kun yhdessÃ¤ miehessÃ¤ asuu kaksi...",...,2006-10-20,0.0,96.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,The Leaning Tower,False,5.7,3.0
5569,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,30709,tt0081964,en,...All the Marbles,A two-bit promoter tries to take a women's wre...,...,1981-10-16,0.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The California Dolls and their best friend Har...,...All the Marbles,False,7.3,7.0
24601,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,64679,tt0178130,en,Cleopatra,"Cleopatra, the famed Egyptian Queen born in 69...",...,1999-05-23,0.0,177.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Passion. Power. Betrayal.,Cleopatra,False,6.1,8.0
3710,False,NaN,62000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,33468,tt0052646,en,The Brain That Wouldn't Die,Dr. Bill Cortner (Jason Evers) and his fiancÃ©e...,...,1962-02-25,0.0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Alive... without a body... fed by an unspeakab...,The Brain That Wouldn't Die,False,4.4,34.0
36720,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.moskitofilm.nl/?page_id=86,70503,tt1586727,nl,Crepuscule,An impressionistic experimental drama. A woman...,...,2009-04-02,0.0,70.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,Crepuscule,False,0.0,0.0
35013,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,43783,tt0035361,en,Song of the Islands,"With his sidekick Rusty, Jeff Harper sails to ...",...,1942-03-13,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,BETTY'S EVEN GOT THE PALM TREES SWAYING!,Song of the Islands,False,0.0,0.0
41571,False,NaN,0,"[{'id': 16, 'name': 'Animation'}]",NaN,424889,tt6151826,en,Norman Television,"Norman, a lost guinea pig, wanders in the pipe...",...,2016-12-06,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Norman Television,False,6.3,3.0
487,False,NaN,13500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 9648, 'n...",NaN,10440,tt0107507,en,Manhattan Murder Mystery,A middle-aged couple suspects foul play when t...,...,1993-08-18,11285588.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keaton & Allen reunited for fun flick!,Manhattan Murder Mystery,False,7.1,169.0

In [52]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [53]:
ratings_df.sample(n=10)

          userId  movieId  rating   timestamp
3076526    32108     5146     3.5  1329627690
15737425  163673    77561     4.0  1451346541
10735318  110841      296     5.0   840006716
21200155  220222     2455     4.0   952359872
515708      5318     1197     4.0   945557718
19392296  201336     2324     5.0  1315035532
19804141  205780     1230     4.0  1147159365
16317273  169550     2265     4.0   941482688
26013868  270776     3101     5.0   974734507
25303981  263436     2186     5.0  1041031285

# Transform

In [54]:
# Transform Wikipedia Data
wiki_movies_raw_df = pd.DataFrame(wiki_movies_raw)
wiki_movies_raw_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Alter setting to display all rows
pd.set_option('display.max_rows', None)

In [56]:
wiki_movies_raw_df.columns.to_list()

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wadeâ€“Giles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCuneâ€“Reischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [57]:
wiki_movies_raw_df.count()

url                       7153
year                      7153
imdb_link                 7100
title                     7134
Directed by               7103
Produced by               6740
Screenplay by             2324
Story by                  1005
Based on                  2199
Starring                  6920
Narrated by                285
Music by                  6503
Cinematography            6400
Edited by                 6398
Productioncompany         4540
Distributed by            6599
Release date              6914
Running time              6969
Country                   6726
Language                  6873
Budget                    4775
Box office                5530
Written by                4597
Genre                      129
Theme music composer        70
Country of origin          158
Original language(s)       164
Producer(s)                161
Editor(s)                  151
Production company(s)      136
Original network           131
Original release           165
Productioncompanies        729
Executive producer(s)      101
Production location(s)      50
Distributor                140
Picture format              69
Audio format                64
Voices of                    3
Followed by                 14
Composer(s)                 11
Created by                  14
Also known as                2
Opening theme                2
No. of episodes              6
Preceded by                 16
Author                      12
Publisher                   12
Publication date            11
Media type                   9
Pages                        7
ISBN                         5
OCLC                         6
LC Class                     5
Cover artist                 3
Series                       3
Set in                       2
Adaptation by                2
Suggested by                 1
Biographical data            1
Born                         8
Died                         1
Resting place                1
Occupation                   8
Years active                 6
Spouse(s)                    1
Children                     1
Parent(s)                    2
Genres                       1
Instruments                  1
Labels                       1
Website                      7
Traditional                  5
Mandarin                     4
Type                         6
Industry                     5
Fate                         1
Founded                      6
Founder                      3
Headquarters                 6
Parent                       2
Released                     4
Recorded                     3
Venue                        1
Length                       3
Label                        4
Director                     2
Producer                     3
Area                         1
Coordinates                  1
Status                       1
Opening date                 1
Closing date                 1
Replaced                     1
Replaced by                  1
Name                         1
Attraction type              1
Music                        1
Duration                     1
Simplified Chinese           1
Traditional Chinese          1
Hanyu Pinyin                 1
Literal meaning              1
Transcriptions               1
Bopomofo                     1
Gwoyeu Romatzyh              1
Wadeâ€“Giles                   1
IPA                          1
Yale Romanization            1
Jyutping                     1
Hokkien POJ                  1
Animation by                 2
Color process                1
Engine(s)                    1
Genre(s)                     2
Actor control                1
Production company           1
Release(s)                   1
Format(s)                    1
Simplified                   4
Characters                   2
Date premiered               3
Place premiered              3
Setting                      2
Original language            2
Subject                      2
Published                    1
Dewey Decimal                4
Text                         2
Illustrator                  3
Original title               2
Published in English         1
French                       1
Developed by                 1
Ending theme                 1
No. of seasons               1
Nationality                  3
Portrayed by                 1
Alias                        1
Species                      1
Gender                       1
Family                       1
Alma mater                   2
Camera setup                 1
Novel(s)                     1
Comics                       1
Film(s)                      2
Screen story by              1
Hangul                       2
Revised Romanization         2
McCuneâ€“Reischauer            2
Developer(s)                 1
Publisher(s)                 1
Designer(s)                  1
Programmer(s)                1
Artist(s)                    1
Writer(s)                    1
Engine                       1
Platform(s)                  1
Release                      1
Mode(s)                      1
Original work                1
Television series            1
Japanese                     4
Hepburn                      4
Literally                    3
Cantonese                    1
Full name                    1
Height                       2
Seasons                      1
Chinese                      1
Other names                  1
Relatives                    1
Yiddish                      1
Formerly                     4
Key people                   4
Total assets                 1
Owner                        4
Number of employees          2
Divisions                    4
Subsidiaries                 4
Arabic                       2
Romanized                    2
Predecessor                  3
Founders                     3
Area served                  3
Products                     3
Services                     2
Russian                      1
Hebrew                       1
Revenue                      1
Operating income             1
Polish                       1
dtype: int64

In [58]:

wiki_movies = [i for i in wiki_movies_raw 
               if ('Director' in i or 'Directed by' in i) 
                   and 'imdb_link' in i]
len(wiki_movies)

7080

In [59]:
wiki_movies_df = pd.DataFrame(wiki_movies)
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# Filter records
wiki_movies = [i for i in wiki_movies_raw 
               if ('Director' in i or 'Directed by' in i) # based on Director
                   and 'imdb_link' in i # based on imdb_link
                   and 'No. of episodes' not in i # based on movie/TV show
              ] 
len(wiki_movies)

7076

In [61]:
alt_langs = ['Also known as','Arabic','Cantonese','Chinese','French','Hangul','Hebrew','Hepburn','Japanese',
             'Literally','Mandarin','McCuneâ€“Reischauer','Original title','Polish','Revised Romanization','Romanized',
             'Russian','Simplified','Traditional','Yiddish']
clean_movies = []

def clean_movie(x):
    x = dict(x)
    
    # Alternate Titles
    alt_titles = {}
    for i in alt_langs:
        if i in x:
            alt_titles[i] = x[i]
            x.pop(i)
    if alt_titles:
        x['Alternate Title'] = alt_titles
    
    # Consolidate similar Columns
    def consolidate_columns(a,b):
        if a in x:
            x[b] = x.pop(a)
    consolidate_columns('Adaptation by', 'Writer(s)')
    consolidate_columns('Written by', 'Writer(s)')
    consolidate_columns('Screen story by', 'Writer(s)')
    consolidate_columns('Screenplay by', 'Writer(s)')
    consolidate_columns('Story by', 'Writer(s)')
    consolidate_columns('Country of origin', 'Country')
    consolidate_columns('Directed by', 'Director')
    consolidate_columns('Distributed by', 'Distributor')
    consolidate_columns('Edited by', 'Editor(s)')
    consolidate_columns('Length', 'Running time')
    consolidate_columns('Music by', 'Composer(s)')
    consolidate_columns('Theme music composer', 'Composer(s)')
    consolidate_columns('Produced by', 'Producer(s)')
    consolidate_columns('Producer', 'Producer(s)')
    consolidate_columns('Productioncompanies ', 'Production company(s)')
    consolidate_columns('Productioncompany ', 'Production company(s)')
    consolidate_columns('Original release', 'Release date')
    consolidate_columns('Released', 'Release date')
    consolidate_columns('Release Date', 'Release date')
    
    return x

for i in wiki_movies:
    clean_movies.append(clean_movie(i))
    
wiki_movies_df = pd.DataFrame(clean_movies)
wiki_movies_df.head()

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Followed by,Created by,Preceded by,Suggested by,Alternate Title,Recorded,Venue,Label,Animation by,Color process
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
len(wiki_movies_df)

7076

In [63]:
wiki_movies_df.drop_duplicates(subset='imdb_id',inplace=True)
len(wiki_movies_df)

7033

In [64]:
wiki_movies_df.isnull().sum()

url                          0
year                         0
imdb_link                    0
title                        1
Based on                  4852
Starring                   184
Narrated by               6752
Cinematography             691
Release date                32
Running time               139
Country                    236
Language                   244
Budget                    2295
Box office                1548
Writer(s)                  199
Director                     0
Distributor                357
Editor(s)                  548
Composer(s)                518
Producer(s)                202
Production company(s)     1678
Genre                     6923
Original language(s)      6875
Original network          6908
Executive producer(s)     6936
Production location(s)    6986
Picture format            6969
Audio format              6972
Voices of                 7031
Followed by               7024
Created by                7023
Preceded by               7023
Suggested by              7032
Alternate Title           7012
Recorded                  7031
Venue                     7032
Label                     7031
Animation by              7031
Color process             7032
imdb_id                      0
dtype: int64

In [67]:
# Pick columns that have data in atleast 10% of the records
wiki_columns_to_keep = [i for i in wiki_movies_df 
                         if wiki_movies_df[i].isnull().sum() <= (len(wiki_movies_df)*0.9)]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
wiki_movies_df.count()

url                      7033
year                     7033
imdb_link                7033
title                    7032
Based on                 2181
Starring                 6849
Cinematography           6342
Release date             7001
Running time             6894
Country                  6797
Language                 6789
Budget                   4738
Box office               5485
Writer(s)                6834
Director                 7033
Distributor              6676
Editor(s)                6485
Composer(s)              6515
Producer(s)              6831
Production company(s)    5355
imdb_id                  7033
dtype: int64

In [84]:
# Fixing Data Types
box_office = wiki_movies_df['Box office'].dropna()
# box_office = [str.extract(r'( million)') for i in box_office ]
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)
box_office

0                                           $21.4 million
1                                            $2.7 million
2                                             $57,718,089
3                                              $7,331,647
4                                        $6,939,946 (USA)
9                                                $855,810
10                                         $195.3 million
11                                          $53.2 million
12                                          $15.7 million
13                                          $52.1 million
14                                         $244.5 million
15                                            $12,626,043
17                                            $19,740,070
18                                           $138,697,012
20                                             $1,292,323
21                                           $8.2 million
22                                          $15.6 million
24                                             $2,070,871
25                          $27.6 million (United States)
27                                                $10,173
29                                             $5 million
33                                          $35.8 million
34                                          US$ 4,212,828
37                                           $2.4 million
39                                               $947,306
40                                               $715,983
42                                          US$13,236,513
43                                           $8.3 million
44                                             $1,373,728
45                                         $424.2 million
47                                          $48.8 million
49                                         $157.9 million
53                                           $2.2 million
54                       $6,698,361 ( United States ) [2]
56                                      $2.7 million (US)
57                                         $162.7 million
58                                           $240 million
61                                             $2,346,150
63                                          $18.1 million
64                                            $86 million
66                                            $25 million
67                                             $1,372,350
68                                            $39 million
72                                            $14,760,451
73                                      $22,424,195 (USA)
74                                    $6,488,144 (US) [1]
75                                          $61.3 million
76                                             $1,823,154
77                                             $1,305,887
78                                               $205,068
79                                               $335.000
80                                            $21,460,601
82                                           $8.1 million
84                                         $505.7 million
85                                            $25 million
88                                         $136.8 million
89                                          $46.8 million
90                                           $4.6 million
91                                          $29.9 million
92                                          $41.5 million
93                                            $13,446,769
95                                            $17 million
98                                             $4,960,385
99                                          $47.4 million
100                                       $5,728,953 (US)
101                                            $9,243,140
102                                            $4,134,992
103                                         $23.5 million
104                                         $609,939 (US)
105                                        $476.7 million
106                              $21.6 million (domestic)
107                                            $1,293,976
108                                         $26.4 million
109                                        $200.5 million
110                                    $4.35-4.37 million
111                                         $16.2 million
115                                         $27.7 million
118                                         $26.1 million
119                                         $20.3 million
120                                         $39.4 million
123                                          $202 million
124                                          $2.5 million
126                               US$1,531,489 (domestic)
127                                          $5.7 million
128                                      $3,473,905 (USA)
129                                         $24.3 million
130                                         US$ 4,803,039
131                                         $47.8 million
132                                            $5,585,154
133                                           $14 million
134                                          $1.4 million
136                                    $21,036,771 (U.S.)
138                                           $58 million
139                                        $129,778 (USA)
142                                     $27 million (USA)
143                                     $16,247,964 (USA)
144                                            $6 million
145                                              $139,155
147                                         $35.4 million
149                                    $2.9 million (USA)
150                                            $9,888,167
151                                            $5 million
152                                         $61.3 million
154                                            $1,464,242
155                         $16,153,600 (USA) (sub-total)
160                                            $4,011,793
161                                           $15,379,253
162                                            $7,698,010
164                                         $23.6 million
165                                           $10,873,237
166                                         $25.1 million
167                                         $17.4 million
169                                          $5.8 million
170                                          $8.9 million
173                                          $1.7 million
174                                           $11,359,129
175                                         $44.9 million
176                                            $3,779,620
177                                          $3,331 (USA)
179                                      $39,071,603 (US)
180                                         $57.1 million
181                                        $221.3 million
182                                        $463.4 million
183                                         $72.2 million
186                         $11.5 million (United States)
187                                           $11,207,891
188                                         $15.3 million
189                                           $21,413,105
191                                          $1.4 million
192                                         $47.4 million
193                                      $15,535,771 (US)
194                                         $15.4 million
195                                         $45.7 million
196                                          $1.3 million
198                                        $119.9 million
201                                         $21.6 million
203                          $739,104 (North America) [2]
204                                         $15.1 million
205                                            $3,417,056
206                                            $4,010,647
207                                        $152,982 (USA)
208                                        $458,996 (USA)
209                                     $17,854,930 (USA)
210                                 $1.2 million (US) [1]
215                                               $43,982
216                                         $15.4 million
217                                               $52,310
220                                          $5.8 million
221                                            $1,911,542
222                                           $20,240,128
223                                              $541,626
224                                           $20 million
225                                         $16.3 million
226                                          $202 million
228                                          $2.3 million
230                                         $71.6 million
235                                        $261.3 million
237                                           $16,667,084
241                                            $1,794,001
243                                           $10 million
244                                          $2.2 million
246                                            $3,989,297
248                                            $1,106,475
249                                            $2 million
250                                           $17,487,531
252                                               $83,882
253                                           $11,060,485
254                     $14.6 million (North America) [3]
256                                         $15.3 million
258                                           $44,143,410
261                                            $2,120,564
263                                        $191.5 million
264                                           $14,812,144
265                                         $40.8 million
266                                            $2,865,916
267                                      $1,342,903 (USA)
268                                        $152.4 million
269                                          $6.2 million
270                                          $425 million
271                                  $38 million (US) [2]
272                                         $15.5 million
273                                            $8,667,684
275                                            $9,188,150
278                     $57.5 million (North America) [1]
281                                          $2.3 million
283                                         $49.1 million
284                                            $9,689,816
285                                                $6,220
286                                        $182.3 million
288                                         $11.3 million
291                                         $20.5 million
293                                    $1.3 million (US).
294                                          $180 million
295                                           $28,277,918
296                                              $259,012
298                                         $14.9 million
299                                            $1,501,785
300                                          $1.2 million
301                                         $33.7 million
304                                      $38,016,380 (US)
305                                         $28.7 million
306                                         $16.4 million
307                                      $6,413,375 (USA)
308                                            $5,546,827
310                                           $54,830,779
311                                      $38,120,905 (US)
312                                              $394,631
313                                         $25.1 million
314                                         $34.4 million
315                                           $80,500,000
316                              $14.8 million (domestic)
317                                          $4.6 million
318                                           $82,264,675
320                                         $14.1 million
321                                            $5,451,119
323                                         $21.1 million
324                                         $89.3 million
326                                         $41.9 million
327                                            $8,750,400
328                                           $14,587,732
329                                         $23.2 million
330                         $22.7 million (United States)
331                                         $34.9 million
332                                        $119.4 million
333                               $40,991,329 (worldwide)
334                                         $9.48 million
336                                        $306,319 (USA)
337                                         $65.6 million
338                            $7,434,726 (United States)
339                                            $9,804,775
340                 Â£739,989 (UK) [1] $4,413,473 (US) [1]
343                                    $15.6 million (US)
345                                 $4,654,288 ( US ) [1]
346                                       $2,971,661 (US)
347                                        $300.9 million
348                                        $181.1 million
350                                           $19,438,638
351                                       US$17.2 million
352                                          $7.8 million
353                                              $191,125
354                                              $583,979
355                                        $205.4 million
356                                               $90,000
357                                         $43.9 million
358                                          $1.1 million
359                                           $52,487,045
360                                         $15.4 million
361                                         $28.9 million
362                                         $59.5 million
363                                   $133,645 (Domestic)
364                                          $4.1 million
366                                           $25 million
368                                           $29,012,935
369                                          $2.8 million
370                                         $12.5 million
371                                              $456,127
372                                            US$485,772
374                                            $7,308,786
375                                         $20.2 million
376                                         $18.8 million
377                                         $59.5 million
378                      $6.4 million (North America) [1]
379                                          $6.2 million
380                                         $86.9 million
381                                          $2.6 million
382                                    $26.3 million (US)
383                                    $47.6 million (US)
384                                            $2 million
385                                           $14,789,113
386                                          $8.4 million
387                                            $5,136,759
388                                           $14,851,083
389                                           $11 million
390                                         $25.1 million
391                                         $23.5 million
392                                           $25,682,090
393                                           $39,673,161
394                                $18,634,643 (Domestic)
396                                              $267,265
397                                         $31.4 million
399                                           $14,061,361
400                                       US$83.5 million
401                                              $787,280
402                                          $110 million
403                                         $32.7 million
406                                         $24.9 million
407                                   $10.4 million (USA)
408                                          $6.3 million
409                                          $1.3 million
410                                      $43,001,500 (US)
411                                            $2,808,000
412                                           $21,756,163
413                                        $390.5 million
414                           $46.7 million [4] [3] (USA)
416                                            $4 million
417                                          $7.2 million
418                                       $9,563,393 (US)
423                                            $2,735,731
424                                           $11,511,031
425                                            $3,547,684
426                                          $2.3 million
427                                        $272.7 million
428                                            $1,228,108
429                                          $175 million
430                                           $36,489,888
432                                         $96.9 million
433                                              $246,000
434                                          $9.1 million
435                                            $2,712,293
436                                 $7,683,267 (domestic)
437                                            $8 million
438                                           $11,000,863
439                                         $15.5 million
440                                         $939,277 (US)
441                                              $336,396
442                                              $978,775
443                                    $78.6 million (US)
444                                        $523.7 million
445                                         $45.4 million
447                                         $110,505 (US)
448                          $15,073,942 (US) (sub-total)
450                                              $418,807
451                                       $4,693,236 (US)
452                                              $349,618
454                                         $63.7 million
455                                         $34.8 million
456                                            $1,008,404
457                                          $7.3 million
458                                            $1,182,273
459                                           $59 million
461                                           $29 million
462                                          $504 million
463                                        $159.8 million
464                                           $13,086,430
465                                          $6.4 million
466                                         $19.9 million
467                                            $2 million
468                                        $352.9 million
469                                        $266.8 million
471                                          $8.4 million
472                                        $147.2 million
473                                            $3 million
475                                          $4.5 million
476                                          $411 million